.nav-link {
  margin-left: 40px;
}

#supportHero {
  background-color: #367ed1;
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 11rem 3.5rem 11rem;
}

#supportWrapper a {
  color: white;
}

#supportHero a {
  color: white;
  line-height: 2;
  margin-right: 0.8rem;
}

#supportHero input {
  width: 85%;
  margin: 0.7rem 0 0.7rem 0;
  height: 3.5rem;
  border-radius: 5px;
  border: none;
  padding: 1rem;
}
